.a { background-image: url(../../assets/bands/a.png); filter: brightness(2); }
.adtr { background-image: url(../../assets/bands/adtr.png); filter: brightness(1.2); }
.afi { background-image: url(../../assets/bands/afi.png); }
.againstme { background-image: url(../../assets/bands/againstme.png); }
.alexisonfire { background-image: url(../../assets/bands/alexisonfire.png); }
.alienweaponry { background-image: url(../../assets/bands/alienweaponry.png); }
.alkalinetrio { background-image: url(../../assets/bands/alkalinetrio.png); }
.alltimelow { background-image: url(../../assets/bands/alltimelow.png); }
.andrewwk { background-image: url(../../assets/bands/andrewwk.png); }
.ava { background-image: url(../../assets/bands/ava.png); filter: brightness(2); }
.architects { background-image: url(../../assets/bands/architects.png); filter: brightness(2); }
.avril { background-image: url(../../assets/bands/avril.png); }

.badomens { background-image: url(../../assets/bands/badomens.png); }
.badreligion { background-image: url(../../assets/bands/badreligion.png); }
.beartooth { background-image: url(../../assets/bands/beartooth.png); }
.betterlovers { background-image: url(../../assets/bands/betterlovers.png); }
.biffyclyro { background-image: url(../../assets/bands/biffyclyro.png); }
.billytalent { background-image: url(../../assets/bands/billytalent.png); }
.blink182 { background-image: url(../../assets/bands/blink182.png); }
.blossoms { background-image: url(../../assets/bands/blossoms.png); }
.bostonmanor { background-image: url(../../assets/bands/bostonmanor.png);  }
.bfs { background-image: url(../../assets/bands/bfs.png); }
.bfmv { background-image: url(../../assets/bands/bfmv.png); }
.burytomorrow { background-image: url(../../assets/bands/burytomorrow.png); }
.busted { background-image: url(../../assets/bands/busted.png); }

.cancerbats { background-image: url(../../assets/bands/cancerbats.png); }
.carpenterbrut { background-image: url(../../assets/bands/carpenterbrut.png); }
.chvrches { background-image: url(../../assets/bands/chvrches.png); }
.cky { background-image: url(../../assets/bands/cky.png); }
.codeorange { background-image: url(../../assets/bands/codeorange.png); }
.candc { background-image: url(../../assets/bands/candc.png); }
.creeper { background-image: url(../../assets/bands/creeper.png); }
.crosses { background-image: url(../../assets/bands/crosses.png); }
.thechats { background-image: url(../../assets/bands/thechats.png); }

.dadifreyr { background-image: url(../../assets/bands/dadifreyr.png); }
.thedarkness { background-image: url(../../assets/bands/thedarkness.png); }
.deftones { background-image: url(../../assets/bands/deftones.png); }
.dirtyloops { background-image: url(../../assets/bands/dirtyloops.png); }
.thedistillers { background-image: url(../../assets/bands/thedistillers.png); }
.donbroco { background-image: url(../../assets/bands/donbroco.png); }
.dropkickmurphys { background-image: url(../../assets/bands/dropkickmurphys.png); }

.electriccallboy { background-image: url(../../assets/bands/electriccallboy.png); }
.entershikari { background-image: url(../../assets/bands/entershikari.png); }
.etid { background-image: url(../../assets/bands/etid.png); }

.fob { background-image: url(../../assets/bands/fob.png); }
.fallinginreverse { background-image: url(../../assets/bands/fallinginreverse.png); }
.feeder { background-image: url(../../assets/bands/feeder.png); }
.fightstar { background-image: url(../../assets/bands/fightstar.png); }
.foals { background-image: url(../../assets/bands/foals.png); }
.fontainesdc { background-image: url(../../assets/bands/fontainesdc.png); }
.fcandtherattlesnakes { background-image: url(../../assets/bands/fc&therattlesnakes.png); }
.frankturner { background-image: url(../../assets/bands/frankturner.png); }
.fugazi { background-image: url(../../assets/bands/fugazi.png); }
.ffaf { background-image: url(../../assets/bands/ffaf.png); }

.thegaslightanthem { background-image: url(../../assets/bands/thegaslightanthem.png); }
.gecs { background-image: url(../../assets/bands/100gecs.png); }
.theghostinside { background-image: url(../../assets/bands/theghostinside.png); }
.ghostwriters { background-image: url(../../assets/bands/ghostwriters.png); }
.gogolbordello { background-image: url(../../assets/bands/gogolbordello.png); }

.hatebreed { background-image: url(../../assets/bands/hatebreed.png); }
.heck { background-image: url(../../assets/bands/heck.png); }
.thehives { background-image: url(../../assets/bands/thehives.png); }
.holdingabsence { background-image: url(../../assets/bands/holdingabsence.png); }
.hollywoodundead { background-image: url(../../assets/bands/hollywoodundead.png); }
.ho99o9 { background-image: url(../../assets/bands/ho99o9.png); }
.hatebreed { background-image: url(../../assets/bands/hatebreed.png); }
.thehunna { background-image: url(../../assets/bands/thehunna.png); }

.iprevail { background-image: url(../../assets/bands/iprevail.png); }
.icp { background-image: url(../../assets/bands/icp.png); }
.idles { background-image: url(../../assets/bands/idles.png); }
.incubus { background-image: url(../../assets/bands/incubus.png); }
.inme { background-image: url(../../assets/bands/inme.png); }
.interrupters { background-image: url(../../assets/bands/interrupters.png); }

.janesaddiction { background-image: url(../../assets/bands/janesaddiction.png); }
.jawbreaker { background-image: url(../../assets/bands/jawbreaker.png); }
.jew { background-image: url(../../assets/bands/jew.png); }

.kidkapichi { background-image: url(../../assets/bands/kidkapichi.png); }
.knockedloose { background-image: url(../../assets/bands/knockedloose.png); }

.letlive { background-image: url(../../assets/bands/letlive.png); }
.limpbizkit { background-image: url(../../assets/bands/limpbizkit.png); }
.loathe { background-image: url(../../assets/bands/loathe.png); }

.malevolence { background-image: url(../../assets/bands/malevolence.png); }
.manorchestra { background-image: url(../../assets/bands/manorchestra.png); }
.marmozets { background-image: url(../../assets/bands/marmozets.png); }
.themarsvolta { background-image: url(../../assets/bands/themarsvolta.png); }
.menzingers { background-image: url(../../assets/bands/menzingers.png); }
.monuments { background-image: url(../../assets/bands/monuments.png); }
.mrbungle { background-image: url(../../assets/bands/mrbungle.png); }
.municipalwaste { background-image: url(../../assets/bands/municipalwaste.png); }

.neckdeep { background-image: url(../../assets/bands/neckdeep.png); }
.nothingnowhere { background-image: url(../../assets/bands/nothingnowhere.png); }
.novatwins { background-image: url(../../assets/bands/novatwins.png); }

.theoffspring { background-image: url(../../assets/bands/theoffspring.png); }

.palayeroyale { background-image: url(../../assets/bands/palayeroyale.png); }
.palewaves { background-image: url(../../assets/bands/palewaves.png); }
.paparoach { background-image: url(../../assets/bands/paparoach.png); }
.piercetheveil { background-image: url(../../assets/bands/piercetheveil.png); }
.placebo { background-image: url(../../assets/bands/placebo.png); }
.polyphia { background-image: url(../../assets/bands/polyphia.png); }
.primus { background-image: url(../../assets/bands/primus.png); }

// q

.ragingspeedhorn { background-image: url(../../assets/bands/ragingspeedhorn.png); }
.rancid { background-image: url(../../assets/bands/rancid.png); }
.refused { background-image: url(../../assets/bands/refused.png); }
.riseagainst { background-image: url(../../assets/bands/riseagainst.png); }
.royalblood { background-image: url(../../assets/bands/royalblood.png); }

.soia { background-image: url(../../assets/bands/soia.png); }
.sikth { background-image: url(../../assets/bands/sikth.png); }
.skindred { background-image: url(../../assets/bands/skindred.png); }
.sleeptoken { background-image: url(../../assets/bands/sleeptoken.png); }
.sws { background-image: url(../../assets/bands/sws.png); }
.spiritbox { background-image: url(../../assets/bands/spiritbox.png); }
.staticdress { background-image: url(../../assets/bands/staticdress.png); }
.tssf { background-image: url(../../assets/bands/tssf.png); }
.sftp { background-image: url(../../assets/bands/sftp.png); }
.suicidaltendencies { background-image: url(../../assets/bands/suicidaltendencies.png); }
.suicideboys { background-image: url(../../assets/bands/suicideboys.png); }
.sylosis { background-image: url(../../assets/bands/sylosis.png); }

.therapy { background-image: url(../../assets/bands/therapy.png); }
.thrice { background-image: url(../../assets/bands/thrice.png); }
.trophyeyes { background-image: url(../../assets/bands/trophyeyes.png); }
.turnstile { background-image: url(../../assets/bands/turnstile.png); }
.twintemple { background-image: url(../../assets/bands/twintemple.png); }

.theused { background-image: url(../../assets/bands/theused.png); }

// v

.wagewar { background-image: url(../../assets/bands/wagewar.png); }
.wargasm { background-image: url(../../assets/bands/wargasm.png); }
.weezer { background-image: url(../../assets/bands/weezer.png); }
.wildhearts { background-image: url(../../assets/bands/wildhearts.png); }
.wolfalice { background-image: url(../../assets/bands/wolfalice.png); }
.wss { background-image: url(../../assets/bands/wss.png); }

// x

.yma6 { background-image: url(../../assets/bands/yma6.png); }
.yungblud { background-image: url(../../assets/bands/yungblud.png); filter: brightness(1.2); }

.zebrahead { background-image: url(../../assets/bands/zebrahead.png); }

// .*** { background-image: url(../../assets/bands/***.png); }
